html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 500px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.game-title {
  color: #ad00ed;
}

.game-description {
  margin-bottom: 2rem;
}

#numInput {
  margin-right: 0.5rem;
}

.guess-header {
  font-style: italic;
  margin-bottom: 0.5rem;
}