<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="js/components.js" defer></script>
  <script src="js/app.js" defer></script>
  <title>Hi-Low</title>
</head>
<body>
  <div id="app">
    <main v-if='!isLoading'>
      <div class='header-ctr'>
        <h1 class='game-title'>Hi-Low</h1>
        <p class="game-description">
          In this game, the computer generates a random number.
          You have {{numGuessesAllowed}} tries to guess that number.
          Along the way, you'll be guided in your responses. Good luck!
        </p>
        <h3 class='user-feedback'>{{feedback}}</h3>
      </div>
      <div class='component-wrapper'>
        <guess-input :is-game-over="isGameOver" :guesses='guesses' @reset-game='resetGame' @make-guess='makeGuess'/>
      </div>
      <div class='component-wrapper'>
        <guess-display :is-game-over='isGameOver' :guesses='guesses' :num-guesses-remaining='numGuessesRemaining' />
      </div>
    </main>
  </div>
  <script type='text/x-template' id='guess-input'>
    <div class="input-ctr">
      <form action=""></form>
      <input :disabled='isGameOver' type="number" name="num-input" v-model='guess' id="numInput">
      <button v-if="isGameOver" @click="resetGame">Play Again</button>
      <button v-else :disabled="!guess" @click="submit">Submit</button>
    </div>
  </script>
  <script type='text/x-template' id='guess-display'>
    <div class="display-ctr">
      <div class="guess-header">Guesses Remaining: <span>{{numGuessesRemaining}}</span></div>
      <div>{{previousGuessesString}}</div>
    </div>
  </script>
</body>
</html>